body {
  background-image: url(../assets/under-construction.jpg);
  background-size: 2000px;
  background-repeat: no-repeat;
}

.center {
  font-size: 46px;
  font-weight: 700;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card {
  margin: 8%;
  width: 600px;
  height: 200px;
}