body {
  background-image: url(../../assets/kitchen-wood-back.jpg);
  background-size: 2000px;
  background-repeat: no-repeat;
}

form.signup,
form.login {
  margin-top: 50px;
}

.dropdown-content {
  width: max-content !important;
  height: auto !important;
}

.card {
  margin: 8%;
  width: 600px;
  height: 200px;
}

.center {
  font-size: 46px;
  font-weight: 700;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}