body {
  background-image: url(../assets/kitchen-wood-back.jpg);
  background-size: 2000px;
  background-repeat: no-repeat;
}

form.signup,
form.login {
  margin-top: 50px;
  width: 800px;
}

label,
input,
p {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.row {
  margin: 2%;
}

#recipes {
  margin-left: 15%;
}

.card {
  width: 200px;
  height: 500px;
}

.card-image {
  height: 120px;
  width: 120px;
}

#title p,
#number p {
  font-size: 30px;
}

#summary p {
  font-size: 18px;
}

.center {
  font-size: 46px;
  font-weight: 700;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}