form.signup,
form.login {
  margin-top: 50px;
}

.row {
  margin: 2%;
}

#recipes {
  margin-left: 15%;
}

.card {
  width: 200px;
  height: 500px;
}

.card-image {
  height: 120px;
  width: 120px;
}

#title p,
#number p {
  font-size: 30px;
}

#summary p {
  font-size: 18px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
