form.signup,
form.login {
  margin-top: 50px;
}

.row {
  margin: 2%;
}

.container {
  background-color: gray;
}

#recipes {
  margin-left: 15%;
}

.card {
  width: 200px;
  height: 500px;
}

.card-image {
  height: 120px;
  width: 120px;
}

#title p,
#number p {
  font-size: 30px;
}

#summary p {
  font-size: 18px;
}